/* Layout */

body {
	background: linear-gradient(to right, #e6e6e6, #fdfdfd, #fff, #fdfdfd, #e6e6e6);
}

header, footer, section, figure {
	margin: 0 !important;
}

.small-box {
	padding: 0.5em 0;
}

.box {
	padding: 2em 0;
}

/* Headline */

#header .menu-title {
	margin: 0;
	padding-left: 0.8em;
}

#header nav {
	padding: 0;
}

#header nav a {
	font-weight: bold;
	border-bottom: 4px solid rgba(255,255,255,0);
}

/* Next showing */

.card {
	box-shadow: 
		0 1px 2px rgba(0,0,0,0.1),
		0 5px 15px rgba(0,0,0,0.05),
		0 5px 30px rgba(0,0,0,0.05);
	margin-bottom: 3rem;
}

.card > label {
	margin-bottom: 0;
}

.card.border-light {
	box-shadow: none;
}

.card-text {
	margin-bottom: 6px;
}

.card .card-img-overlay {
	color: white;
	font-size: 32px;
	font-weight: normal;
	font-style: italic;
    text-shadow:
	    0 0 1px rgba(0,0,0,0.7),
    	0 1px 2px rgba(0,0,0,0.8),
    	0 1px 8px rgba(0,0,0,0.8),
    	0 1px 15px rgba(0,0,0,0.95);
}

.card-title {
	font-weight: bold;
	margin-bottom: 6px;
}

.card.border-light .card-body {
	border-top: 3px solid #e0e0e0;
}

.card.selected .card-body, .card.selected .card-body label {
	color: white;
}

.card.overwatch .card-body {
	border-top: 3px solid #e67b00;
}
.card.overwatch .card-title {
	color: #e67b00;
}
.card.overwatch.selected .card-body {
	background: #e67b00;
}

.card.fortnite .card-body {
	border-top: 3px solid #76008e;
}
.card.fortnite .card-title {
	color: #76008e;
}
.card.fortnite.selected .card-body {
	background: #76008e;
}

.card.leagueoflegends .card-body {
	border-top: 3px solid #c62d3e;
}
.card.leagueoflegends .card-title {
	color: #c62d3e;
}
.card.leagueoflegends.selected .card-body {
	background: #c62d3e;
}

.card.pubg .card-body {
	border-top: 3px solid #bd9d00;
}
.card.pubg .card-title {
	color: #bd9d00;
}
.card.pubg.selected .card-body {
	background: #bd9d00;
}

.card.csgo .card-body {
	border-top: 3px solid #ffbd30;
}
.card.csgo .card-title {
	color: #ffbd30;
}
.card.csgo.selected .card-body {
	background: #ffbd30;
}

.card.starcraft2 .card-body {
	border-top: 3px solid #004a9d;
}
.card.starcraft2 .card-title {
	color: #004a9d;
}
.card.starcraft2.selected .card-body {
	background: #004a9d;
}

.card.codblops .card-body {
	border-top: 3px solid #5d6319;
}
.card.codblops .card-title {
	color: #5d6319;
}
.card.codblops.selected .card-body {
	background: #5d6319;
}

.card.hearthstone .card-body {
	border-top: 3px solid #f83b8d;
}
.card.hearthstone .card-title {
	color: #f83b8d;
}
.card.hearthstone.selected .card-body {
	background: #f83b8d;
}

.card.dnd .card-body {
	border-top: 3px solid #721b00;
}
.card.dnd .card-title {
	color: #721b00;
}
.card.dnd.selected .card-body {
	background: #721b00;
}

.card.mtga .card-body {
	border-top: 3px solid #660a16;
}
.card.mtga .card-title {
	color: #660a16;
}
.card.mtga.selected .card-body {
	background: #660a16;
}

.card.heroesofthestorm .card-body {
	border-top: 3px solid #4f0076;
}
.card.heroesofthestorm .card-title {
	color: #4f0076;
}
.card.heroesofthestorm.selected .card-body {
	background: #4f0076;
}

.card.dota2 .card-body {
	border-top: 3px solid #203f84;
}
.card.dota2 .card-title {
	color: #203f84;
}
.card.dota2.selected .card-body {
	background: #203f84;
}






/* Past showings get faded out */

#pastShowings .card {
	box-shadow: 
		0 1px 2px rgba(0,0,0,0.04),
		0 5px 15px rgba(0,0,0,0.02);
}

#pastShowings .card img.card-img-top {
	filter: grayscale(80%);
	opacity: 0.8;
}

#pastShowings .card .card-body {
	border-top-color: #666 !important;
}

#pastShowings .card .card-title {
	color: #666;
}




/* FAQ */

@media (min-width: 992px) {
	dl {
		padding-left: 40%;
	}

	dl dt {
		float: left;
		clear: left;
		display: block;
		text-align: right;
		margin-left: -60%;
		width: 60%;
		padding-right: 20px;
	}
}

.inline-icon {
	width: 32px;
	height: 32px;
	margin-right: 12px;
}

/* Footer */

section.black {
	background: linear-gradient(to right, #282828, #141414, #101010, #141414, #282828);
	color: white;
}

section.black h2 {
	border-bottom-color: #555;
}

.social-icon {
	background: #101010;
	width: 64px;
	height: 64px;
	opacity: 0.7;
	border: 3px solid #666;
	border-radius: 32px;
	transition: 5s;
	margin-top: 2em;
}

.social-icon:hover {
	opacity: 1.0;
	transition: 0.3s;
	background: black;
}

#facebook-icon:hover {
	border-color: #2455aa;
}

#meetup-icon:hover {
	border-color: #ed1c40;
}

#twitter-icon:hover {
	border-color: #00aced;
}

#discord-icon:hover {
	border-color: #5b75c9;
}